.navbar-custom-bg {
  background-color: #ff5722 !important; /* Your custom navbar bg color */
}

.navbar-brand-custom {
  color: white !important;
  font-weight: bold;
  font-size: 1.8rem;
}

.nav-link-custom {
  color: white !important;
}

.nav-link-custom:hover {
  color: #ffe0b2 !important;
}
